{% extends "base.html" %}

{% block pagetitle %}
Analysis of "{{ text }}"
{% endblock %}

{% block content %}
{% for word in data %}
<div id="result">
	<p class="word">{{ word.word }}</p>
	<p class="abbr">{{ word.abbr }}</p>
	{% if word.full %}
	<ul>
	{% for categ in word.full.categories %}
		{% if categ in word.full %}
		<li>
			<b>{{ categ }}</b>: 
			{% if word.full[categ].code %}
			<a class="describe" href="{{ url_for('describe', code=word.full[categ].code) }}?word={{ word }}">{{ word.full[categ].name }}</a>
			{% else %}
			{{ word.full[categ].name }}
			{% endif %}
		</li>
		{% endif %}
	{% endfor %}
	{% if 'suffixes' in word.full %}
		<li><b>Suffixes:</b>
			<ul>
			{% for suffix in word.full.suffixes %}
				<li><b>{{ suffix.code }}</b>: {{ suffix.degree }}</li>
			{% endfor %}
			</ul>
		</li>
	{% endif %}
	{% if 'other' in word.full %}
		<li>
			<b>Other:</b> {{ word.full.other }}
		</li>
	{% endif %}
	</ul>
	{% endif %}
</div>
{% endfor %}
<div id="back">
	<a href="{{ url_for('index') }}">Back to index</a>
</div>
{% endblock %}